<div class="barkContainer">
                <div class="row">
                    <div class="col col-sm-3"></div>
                    <div class="col col-sm-6" id="barksShowPanel">
                        <div class="row" id="sendMsgs">
                            <h4 id="sendMsgsName">Doofus</h4>
                            <hr>
                            <p id="sendMsgsTxt">I want to sniff your butt!</p>
                            <hr>
                        </div>
                        <div class="row" id="recMsgs">
                            <h4 id="recMsgsName">Miss Prissy</h4>
                            <hr>
                            <p id="recMsgsText">OMFG I want to sniff your butt too!</p>
                            <hr>
                        </div>
                    </div>
                    <div class="col col-sm-3"></div>
                </div>
                <div class="row">
                    <div class="col col-sm-2"></div>
                    <div class="col col-sm-8" id="barksTextPanel">
                        <h4 id="barksTestPanelHeader">Enter Message Here</h4>
                        <hr>
                        <input type="text" id="barkMsgInput" class="form-control" required>
                         <button type="button" class="btn btn-success" id="sendMsgBtn">Send</button>
                    </div>
                    <div class="col col-sm-8"></div>
                </div>
            </div>