<div id="mainViewWindow">
                    <div class="container" id="loginPanel">

                        <div class="row" id="loginPanelRowOne">
                            <h1>Welcome to Snifr!</h1>
                            <p>The premier Dog matching App!</p>
                            <p>If your dog is already a member, sign in and continue on the journey towards endless doggie-dates! If not, click Join to sign up!</p>
                            <hr>
                        </div>
                        <div class="row" id="loginPanelRowTwo">
                            <div class="col col-sm-5" id="loginPanelRowTwoColOne">
                                <button type="button" class="btn btn-primary" id="LPbutLogin">Login</button>
                            </div>
                            <div class="col col-sm-1"></div>
                            <div class="col col-sm-5" id="loginPanelRowTwoColTwo">
                                <button type="button" class="btn btn-success" id="LPbutJoin">Join</button>
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-success hiddenBtn" id="LPbutLoginSubmit">Login</button>
                        </div>
                    </div>
                </div>