<form action="/signup" method="POST">
    Email:<br>
    <input type="text" name="username"><br>
    Password:<br>
    <input type="password" name="password"><br>
    Name:<br>
    <input type="text" name="name"><br>
    Zip Code:<br>
    <input type="text" name="zip"><br>
    
    <input type="submit" value="Submit">
</form>