<div id="container">
                    <div id="surveyPageTwo">
                        <div class="row" id="survRowOne">
                            <div class="col col-lg-2"></div>
                            <div class="col col-lg-8">
                                <h2>Your Ideal Doggie Match!</h2>
                                <p>Last page, we promise! Help us narrow down the type of doggo you'd like as a play-mate by answering the questions below, than clock submit to create your profile and see your matches!</p>
                                <hr>
                            </div>
                            <div class="col col-lg-2"></div>
                        </div>
                        <div class="row" id="survRowTwo">
                            <div class= "col col-sm-6">
                                <h4>Sex</h4>
                                    <form action="/action_page.php">
                                      <select id="sex"  style="width: 125px";>
                                        <option value="NA">Doesn't Matter</option>
                                        <option value="false">Male</option>
                                        <option value="true">Female</option>
                                      </select>
                                      <br><br>
                                    </form>
                                <h4>Fixed</h4>
                                    <form action="/action_page.php">
                                      <select id="fixed"  style="width: 125px";>
                                        <option value="NA">Doesn't Matter</option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                      </select>
                                      <br><br>
                                    </form>

                            </div>
                            <div class="col col-sm-6">
                                <h4>Size</h4>
                                    <form action="/action_page.php">
                                      <select id="size"  style="width: 125px";>
                                        <option value="NA">Doesn't Matter</option>
                                        <option value="less25">Less than 25 lbs</option>
                                        <option value="less50">Less than 50 lbs</option>
                                        <option value="less75">Less than 75 lbs</option>
                                        <option value="less100">Less than 100 lbs</option>
                                      </select>
                                      <br><br>
                                    </form>
                                <h4>Temperament</h4>
                                    <form action="/action_page.php">
                                      <select id="temperament"  style="width: 125px";>
                                        <option value="NA">Doesn't Matter</option>
                                        <option value="agressive">Agressive</option>
                                        <option value="active">Active</option>
                                        <option value="playful">Playful</option>
                                        <option value="shy">Shy</option>
                                        <option value="lazy">Lazy</option>
                                        <option value="submissive">Submissive</option>
                                      </select>
                                      <br><br>
                                    </form>
                            </div>
                        </div>
                        <div class="row" id="survRowFour">
                            <div class="col col-sm-10"></div>
                            <div class="col col-sm-2">
                                <button type="button" class="btn btn-success" id="submitFilter">Submit</button>
                            </div>
                        </div>
                    
                </div>
            </div>