<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Snifr</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="./css/style.css" type="text/css">
        <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
        <script src="../../js/app.js"></script>
        <link rel="stylesheet" href="../../public/css/main.css" type="text/css">
        <link rel="stylesheet" href="../../public/css/login.css" type="text/css">
        <link rel="stylesheet" href="../../public/css/survey.css" type="text/css">
        <link rel="stylesheet" href="../../public/css/profile.css" type="text/css">
    </head>
    <body>
        <div class="row" id="header">
           
                
                <div id="title">
                        <h1>Snifr</h1>  
                </div>
            
        </div>
        <div class="row" id="mainRow">
            <div class="col col-md-2" id="leftSide">
                <div>
                    <img class="img-circle" id="leftLogo" src="../../public/media/logo1.jpg">
                    
                </div>
                <div id="leftTxt">
                    <p>A Website for Dogs on the Prowl</p>
                </div>
                <div id="taskBar">
                    <br>
                    <a href="" id="tb1">Home</a>
                    <hr>
                    <a href="" id="tb2">Matches</a>
                    <hr>
                    <a href="" id="tb3">Nearby</a>
                    <hr>
                    <a href="" id="tb4">Barks</a>
                    <hr>
                </div>
            </div>
            <div class="col col-md-9">
                <div id="container">
                    <div id="surveyPageOne">
                        <div class="row" id="survRowOne">
                            <div class="col col-lg-2"></div>
                            <div class="col col-lg-8">
                                <h2>Let's Get You All Set Up!</h2>
                                <p>This will help us not only get to know you a little better, but make sure we find the right puppy match!</p>
                                <hr>
                                <h2 style="font-weight: bold;">About Your Human</h2>
                                <p>On this page, we first need to know a little bit about your human.  Please fill out the information below to create an account, than click next..</p>
                                <hr>
                            </div>
                            <div class="col col-lg-2"></div>
                        </div>
                        <div class="row" id="survRowTwo">
                            <div class= "col col-sm-6">
                                <h4>Human's Name</h4>
                                <input type="text" id="humanName" class="form-control" required>
                                <h4>Human's Zip Code</h4>
                                <input type="text" id="zipCode" class="form-control" required>
                            </div>
                            <div class="col col-sm-6">
                                <h4>Human's Email</h4>
                                <input type="text" id="email" class="form-control" required>
                                <h4>Human's Password</h4>
                                <input type="text" id="password" class="form-control" required>
                            </div>
                        </div>
                        <div class="row" id="survRowThree">
                            <div class="col col-sm-10"></div>
                            <div class="col col-sm-2">
                                <button type="button" class="btn btn-success" id="next">Next</button>
                            </div>
                        </div>
                    
                </div>
            </div>
    
        </div>
    </body>
    <script>
        $("#next").click(function(){
            let name = $("#humanName").val().trim();
            let zip = $("#zipCode").val().trim();
            let email = $("#email").val().trim();
            let password = $("#password").val().trim();
            
            $.post("/signup", {
                name: name,
                zip: zip,
                email: email,
                password: password
            }).then(function(data){
                console.log(data);
                if (data.signup === "success"){
                    window.location.replace('/survey2');
                }
            })
        })
    </script>
</html>